@import "tailwindcss";

:root {
  --background: #111;
  --foreground: #f5f5f5;
  --warning: #ff3b30;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}